@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Paytone+One");

.titlefont {
    font-family: Paytone One;
}
.center-container {
    position: relative; /* Set the container to relative positioning */
    width: 100%;
}
.center {
    width: 40rem;
    height: 30rem;
    position: absolute;
    top: -5rem;
    right: 6.25rem;
    overflow: hidden;
    border-radius: 100% 100% 60% 90% / 90% 60% 100% 90%;
    background-color: transparent;
    background-image: radial-gradient(at top left, #099cff, transparent),
        radial-gradient(at top right, cyan, transparent),
        radial-gradient(at bottom left, cyan, transparent);
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
